.players-container{
    display:flex;
}
.player-details{
    width: 70%;
    margin-left: 20px;
    margin-right: 5px;
    border-right: 1px solid lightgray;
}
.cart-container{
    background-color:lightgreen;
   width: 30%;
}